language: python
python: 2.7

env:
    - TOX_ENV=py27-twisted-132
    - TOX_ENV=py27-twisted-trunk
    - TOX_ENV=pyflakes
    - TOX_ENV=sphinx

install:
  - pip install coveralls coverage tox
  - python setup.py --version
  - pip install -e.[dev]

script:
  - coverage run --branch --source txspinneret $(type -p trial) txspinneret
  - coverage report -m
  - tox -e "${TOX_ENV}"

after_success:
  - coveralls

notifications:
  email: false
